<div class="container">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">----发帖结果----</div>
		<div class="panel-body">
			<p>成功{{.succ}}个,失败{{.fail}}个</p>
		</div>

		<!-- Table -->

		<table class="table">
			<tr>
				<th>#</th>
				<th>发帖用户名</th>
				<th>发帖时间</th>
				<th>发帖结果</th>
			</tr>
			{{range .records}}
			<tr class="alert {{if .Succ}}alert-success{{else}}alert-danger{{end}}">
				<td>{{.Id}}</td>
				<td>{{.Username}}</td>
				<td>{{.Time}}</td>
				<td>
					{{if .Succ}}
					<a href="{{.Ret}}">帖子链接</a>
					{{else}}{{.Ret}}{{end}}
				</td>

			</tr>
			{{end}}
		</table>
	</div>

	<div class="col-md-4 col-md-offset-8">
		<ul class="pagination">
			{{if .page2}}
			<li>
				<a href="/uwants/records?page={{.page2}}">&laquo;</a>
			</li>
			{{else}}
			<li class="disabled">
				<a href="#">&laquo;</a>
			</li>
			{{end}}
			{{if .page1}}
			<li>
				<a href="/uwants/records?page={{.page1}}">{{.page1}}</a>
			</li>
			{{end}}
			{{if .page2}}
			<li>
				<a href="/uwants/records?page={{.page2}}">{{.page2}}</a>
			</li>
			{{end}}
			{{if .page3}}
			<li class="active">
				<a href="/uwants/records?page={{.page3}}">{{.page3}}</a>
			</li>
			{{end}}
			{{if .page4}}
			<li>
				<a href="/uwants/records?page={{.page4}}">{{.page4}}</a>
			</li>
			{{end}}
			{{if .page5}}
			<li>
				<a href="/uwants/records?page={{.page5}}">{{.page5}}</a>
			</li>
			{{end}}
			{{if .page4}}
			<li>
				<a href="/uwants/records?page={{.page4}}">&raquo;</a>
			</li>
			{{else}}
			<li class="disabled">
				<a href="#">&raquo;</a>
			</li>
			{{end}}
		</ul>
	</div>
</div>