<script>
function deletethreads(id) {
  $.ajax(
  {
    type:"get",
    url: "/uwants/threads/delete/"+id,
    success: function(data) {
      location.reload()
    }
  })
}
function updatethreads(id) {
        var d=$("form[action='/uwants/threads/update/"+id+"']").serialize();
        $.post("/uwants/threads/update/"+id, d, function (result) { location.reload()});
}
function createthreads(){
  var d = $("form[action='/uwants/threads/create']").serialize();
      $.post("/uwants/threads/create", d, function (result) { location.reload()});  
}
</script>
<div class="row" style="margin-top:100px">
  <div class="col-md-8 col-md-offset-2">
    <div class="alert alert-success">一行为一条帖子</div>
    {{range .threads}}
    <form action="/uwants/threads/update/{{.Id}}" method="post">
      <div class="row" style="margin-top:5px;margin-bottom:5px;">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse{{.Id}}">
                  <input type="text" class="form-control" placeholder="帖子标题" value="{{.Title}}" name="title"/>
                </a>
              </h4>
            </div>
            <div id="collapse{{.Id}}" class="panel-collapse collapse">
              <div class="panel-body">
                <textarea rows="10" class="form-control" placeholder="帖子内容" name="text">{{.Text}}</textarea>
                <div class="col-md-3 col-md-offset-5" style="margin-top:5px;">
                  <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-warning" onclick="updatethreads({{.Id}})">Update</button>
                    <button type="button" class="btn btn-danger" onclick="deletethreads({{.Id}})">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    {{end}}
    <form action="/uwants/threads/create" method="post">
      <div class="row">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse{{.Id}}">
                  <input name="title" type="text" class="form-control" placeholder="帖子标题"/>
                </a>
              </h4>
            </div>
            <div id="collapse{{.Id}}" class="panel-collapse collapse">
              <div class="panel-body">
                <textarea rows="10" class="form-control" placeholder="帖子内容"></textarea>
                <div name="text" class="col-md-3 col-md-offset-5" style="margin-top:5px;">
                  <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-success" onclick="createthreads()">Create</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>